{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>A  DSVestibulares tem como missão oferecer soluções para melhorias sobre conhecimento, busca fornecer aos nossos clientes um excelente serviço e pronto atendimento com a melhor relação custo benefício do mercado, sempre procurando manter uma atualização contínua no que diz respeito ao treinamento de nossos professores e funcionários, assim como também em relação a novas tecnologias e produtos, com grande preocupação e respeito ao meio ambiente.

</p>

{% endblock %}
