{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>A  Dedetizadora tem como missão oferecer soluções para dedetização e controle de Pombos, busca fornecer aos nossos clientes um excelente serviço e pronto atendimento com a melhor relação custo benefício do mercado, sempre procurando manter uma atualização contínua no que diz respeito ao treinamento de nossos técnicos e funcionários, assim como também em relação a novas tecnologias e produtos, com grande preocupação e respeito ao meio ambiente.

Usamos alta tecnologia no combate a Pombos, roedores, insetos e outras pragas urbanas com o objetivo de oferecer serviços de DEDETIZAÇÂO, DESCUPINIZAÇÂO, DESRATIZAÇÃO, LIMPEZA DE CAIXA D’ÁGUA E CONTROLE DE POMBOS com a máxima eficiência para atender qualquer cliente de todos os portes e dos mais diversos setores.

Visando a segurança e tranquilidade de nossos clientes, utilizamos produtos que possuem baixa toxicidade para o homem e animais domésticos, o que descarta a possibilidade de longos períodos de ausência dos locais imunizados além de respeitar o meio ambiente.

Lembre-se sempre, a  Dedetizadora é a solução ideal para você no CONTROLE DE POMBOS E INSETOS.

</p>

{% endblock %}
